@import './vant-ui.scss';

@font-face {
  font-family: 'MEllanPRC-Xbold'; // 为字体定义一个名称
  // 字体文件的路径和格式
  src: url('../assets/fonts/MEllanPRC-Xbold.OTF') format('opentype'), 
    url('../assets/fonts/MEllanPRC-Xbold-Roman.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/MEllanPRC-Xbold-Roman.woff2') format('woff2'),
    url('../assets/fonts/MEllanPRC-Xbold-Roman.woff') format('woff');
  font-display: swap;
}

#nprogress .bar{
    background: #dc372b !important;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.app-content-100vh{
  width: 100%;
  height: 100vh;
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}