@import './vant-ui.scss';

@font-face {
  font-family: 'MEllanPRC-Xbold'; // 为字体定义一个名称
  src: url('../assets//fonts/MEllanPRC-Xbold.OTF') format('opentype'); // 字体文件的路径和格式
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}
